<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOROKA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="text-center">
                <h1>Business cards</h1>
                <p>KOROKA Solutions: Junior candidate test task</p>
            </div>
        </div>
    </header>

    <main>
        <section class="cards">
            <div class="container">
                <% if (!users.length) { %>
                <div class="text-center">
                    <p class="error">
                        No users found 😰
                    </p>
                </div>
                <% } else { %>
                <div class="row">
                    <% for( const user of users ) { %>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="<%= user.avatar %>" class="card-img-top" alt="Avatar">
                            <div class="card-body">
                                <h5 class="card-title"><%= user.first_name %>
                                    <%= user.last_name %>
                                </h5>
                                <p class="card-text"><%= user.email %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </section>

        <% if (nextPage) { %>
        <div class="text-center">
            <button type="button" class="btn btn-primary" id="loadMore" data-page="<%= nextPage %>">Next page</button>
            <p id="fallback" class="error">
                No more users found 😰
            </p>
        </div>
        <% } %>
    </main>

    <footer>
        <div class="container">
            <div class="text-center">
                <p>Powered by ExposedCat</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/engine/config.js"></script>
    <script src="/engine/main.js"></script>
</body>

</html>